<%- include('includes/head'); %>
<%- include('includes/nav'); %>
<div class="conetiner">
  <div class="row">
<div class="col-lg-2"></div>

<div class="col-lg-8 my-3">
  <h1 class="text-center">Trendin</h1>
  <p class="text-center lead">Crie ou edite o seu post </p> 

  <%- include('includes/messages.ejs') %>

  <% if(contato._id) { %> 
    <form action="/contato/edit/<%= contato._id %> " method="POST" >
      
    <% } else { %>
     <form action="/contato/register" method="POST" >
        
    <%  } %>
    <input type="hidden" name="_csrf" value=<%= csrfToken %>>

     <div class="form-group">
     <label>Nome</label>
     <input value="<%= contato.nome %>" type="text" class="form-control"  name="nome">
     </div>

     <div class="form-group">
     <label>Sobrenome</label>
     <input value="<%= contato.sobrenome %> " type="text" class="form-control"  name="sobrenome">
     </div>

     <div class="form-group">
     <label>Emeil</label>
     <input value="<%= contato.email %> " type="email" class="form-control"  name="email">
     </div>

     <div class="form-group">
     <label>Texto</label>
     <input value="<%= contato.telefone %>" type="tel" class="form-control"  name="telefone">
     </div>
    <form>
      <div class="form-group">
        <label for="exampleFormControlFile1"></label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form>

      <button type="submit" class="btn btn-primary">Salvar</button>
 </form>


<div class="col-lg-2"></div>
</div>
</div>


  <%- include('includes/footer'); %>       